.container,
.list-text{
	border: 1px solid red;
}

button{
	border-radius: 10px;
}

.logo{
	background-color: #000;	
	width: 350px;
	height: 63px;
	padding-left: 30px;
	margin: 5px 5px;	
}

.header a{
	margin-left: 15px;
}

.task-nmb{
	width: 100%;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	font-size: 25px;
	padding: 5px;
}

#wr-text{
	width: 270px;
	display: block;
	margin-top: 15px;
	margin-right: 150px;
}

#addText{
	width: 150px;
	margin-left: 120px;
	margin-top: 15px;
	border-radius: 5px;
}

.main p{
	font-size: 25px;
}

.list-text{
	padding: 7px;
	transform: translateX(-10px);
}

.list-text button{
	height: 35px;
	border-radius: 5px;
	width: 120px;
	margin-left: 20px;
}

.list-text p{
	margin-bottom: 0;
}

.list-text:nth-child(n+3) {
    border-top: none;
}

.main{
	padding-bottom: 80px;
}

#myRange{
	margin-top: 40px;
	margin-left: 25px;
	width: 250px;
	display: block;
}

.footer-left,
.footer-right{
	padding: 60px 0;
}

.footer{
	font-size: 25px;
}

.footer-left p{
	display: inline-block;
	margin-left: 13px;
}

.footer-left p:last-child{
	margin-left: 215px;
}





